<main class="main-container col s9 store u-margin-top-small push-s3">

    <div class="">
        <h3 class="display-3">Thank You!</h3>
        <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
        
        <p>
          Having trouble? <a >Contact us</a>
        </p>
        <p class="">
          <a class="btn " [routerLink]="['/']" routerLinkActive="router-link-active" >Continue to homepage</a>
        </p>
      </div>
    <main>